@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure html and body take up the full height */
html, body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
  @apply bg-gradient-to-b from-gray-200 to-white text-black;
  font-family: 'Nunito', sans-serif; /* Ensure Nunito font is applied */
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gradient-to-b from-gray-800 to-gray-900 text-white;
  }
}
